.ml {
    margin-left: 15px;
}
.row {
    display: flex;
    margin-bottom: 15px;
}

.visible {
    visibility: visible;
}

.centered {
    display: flex;
    align-items: center;
}

.hidden {
    visibility: hidden;
}
